html {
    font-family: Helvetica;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity:0.9;
    text-align: center;
}

body{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

/* Css styles the header section*/

header{
    height:69px;
    width:99%;
    border: 1px solid seashell;
    position: fixed;
    display:flex;
    justify-content:space-between;
    z-index:2;
}

#logo{
    height:50px;
    margin-left:10px;
    vertical-align:bottom;
    align-self:center;
}

nav{
    margin-right:10px; 
}

li{
    display:inline;  
}

li a{
    color:seashell;
}

/*Styles main content*/

main{
    position:relative;
    top:71px;
    display:block;
    width: 1200px;
    clear:both;
}

/* Styles Mission Statement*/
#mission{
    height:700px;
    width:1200px;
    background-image: url("../media/images/img-mission-background.webp");
    display:flex;
    align-items: center;
}

.statement{
    width:100%;
    background-color: black;
}

/*Styles Featured Items Section*/
#featured{     
    width:100%;
    float:center;
}

#figures{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.featuredItem img{
    width:300px;
    height:auto;
    padding:10px;
}

/*Styles the locations section*/
#locations{
    height:500px;
    background-image: url(../media/images/img-locations-background.webp);
    display:flex;
    align-items:center;
    background-position:center;
}

#addresses{
    display:flex;
    justify-content:center;
}

.address{
    background-color: black;
    width:300px;
    margin:15px 40px;
}

footer{
    margin:80px 0;
    width:100%; 
}

#copyright{
    margin-left:20px;
    margin-bottom:50px;
    float:left;
}